<div class="container">
    <h1 class="mb-1 restaurant-show-title">餐廳記憶網</h1>
    <div class="card">
        <form action="/login" method="post">
            <div class="card-header">
                登入
            </div>
            <div class="card-body row g-3">
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input name='email' type="email" class="form-control" id="email" value="" required>
                </div>
                <div class="col-md-6">
                    <label for="password" class="form-label">密碼</label>
                    <input name="password" type="password" class="form-control" id="password" value="" required>
                </div>
            </div>
            <div class="card-footer text-muted d-flex justify-content-end">
                <div style="text-align:center; line-height: 50px">沒有帳號?<a href="/register">註冊</a></div>
                <button type="submit" class="btn btn-success ms-3">確認</button>
        </form>
        <form action="/login/facebook" method="GET">
            <button type="submit" class="btn btn-primary ms-3" style="text-align:center" id="btn-fb">用 Facebook
                登入</button>
        </form>
    </div>

</div>
</div>